<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ProjetJ2E</display-name>
  <welcome-file-list>
    <welcome-file>views/index.jsp</welcome-file>
    <welcome-file>views/profil.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inscrire</display-name>
    <servlet-name>Inscrire</servlet-name>
    <servlet-class>com.mvc.controller.Inscrire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscrire</servlet-name>
    <url-pattern>/Inscrire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.mvc.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.mvc.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsulterAmis</display-name>
    <servlet-name>ConsulterAmis</servlet-name>
    <servlet-class>com.mvc.controller.ConsulterAmis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterAmis</servlet-name>
    <url-pattern>/ConsulterAmis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPost</display-name>
    <servlet-name>AddPost</servlet-name>
    <servlet-class>com.mvc.controller.AddPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPost</servlet-name>
    <url-pattern>/AddPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostImageVid</display-name>
    <servlet-name>AddPostImageVid</servlet-name>
    <servlet-class>com.mvc.controller.AddPostImageVid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostImageVid</servlet-name>
    <url-pattern>/AddPostImageVid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchFriends</display-name>
    <servlet-name>searchFriends</servlet-name>
    <servlet-class>com.mvc.controller.searchFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchFriends</servlet-name>
    <url-pattern>/searchFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Suivre</display-name>
    <servlet-name>Suivre</servlet-name>
    <servlet-class>com.mvc.controller.Suivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suivre</servlet-name>
    <url-pattern>/Suivre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangerPhoto</display-name>
    <servlet-name>ChangerPhoto</servlet-name>
    <servlet-class>com.mvc.controller.ChangerPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangerPhoto</servlet-name>
    <url-pattern>/ChangerPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangerPhotos</display-name>
    <servlet-name>ChangerPhotos</servlet-name>
    <servlet-class>com.mvc.controller.ChangerPhotos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangerPhotos</servlet-name>
    <url-pattern>/ChangerPhotos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangerStatut</display-name>
    <servlet-name>ChangerStatut</servlet-name>
    <servlet-class>com.mvc.controller.ChangerStatut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangerStatut</servlet-name>
    <url-pattern>/ChangerStatut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLikeServlet</display-name>
    <servlet-name>AddLikeServlet</servlet-name>
    <servlet-class>com.mvc.controller.AddLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLikeServlet</servlet-name>
    <url-pattern>/AddLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerLikeServlet</display-name>
    <servlet-name>SupprimerLikeServlet</servlet-name>
    <servlet-class>com.mvc.controller.SupprimerLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerLikeServlet</servlet-name>
    <url-pattern>/SupprimerLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>com.mvc.controller.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsulterAmisByProfile</display-name>
    <servlet-name>ConsulterAmisByProfile</servlet-name>
    <servlet-class>com.mvc.controller.ConsulterAmisByProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterAmisByProfile</servlet-name>
    <url-pattern>/ConsulterAmisByProfile</url-pattern>
  </servlet-mapping>
</web-app>